main {
  position: relative;
  border: 2px solid black;
  margin: 0 auto;
}

.paddle {
  position: absolute;
  background: black;
}

.ball {
  position: absolute;
  background: red;
  border-radius: 50%;
}
